<!DOCTYPE html>
<div class="topbar">
	<a class="home-button" href="/">Home</a>
	<a class="fa fa-home home-button-icon" aria-hidden="true" href="/"></a>
	<a class="page-button" href=/about/>Acerca</a>
	<a class="fa fa-user page-button-icon" aria-hidden="true" href=/about/></a>
	<span class="page-button">Snippets</span>
	<i class="fa fa-comment page-button-icon" aria-hidden="true"></i>
	<a class="page-button" href=/research/>Research</a>
	<a class="fa fa-briefcase page-button-icon" aria-hidden="true" href=/research/></a>
	<span class="page-button">The 411</span>
	<i class="fa fa-list page-button-icon" aria-hidden="true"></i>
</div>
