@import "variables.scss";

body {
  color: $numixdarkgray;
  background-color: $numixwhite;
  font-family: $global-font-family;
  font-size: $doc-font-size;
  padding: 0;
  line-height: $line-height;
  max-width: 900px;
  text-align: justify;
  display: block;
  margin: auto;
}

html {
  padding: 2em;
}

h1, h2, h3 {
  color: $numixgray;
}

img {
  max-width: 900px;
  display:block;
  padding: 1em;
  margin: auto;
}

a {
  color: $numixred;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.14em;
}

div.topbar {
    display: block;
    padding-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 0.2em solid black;
    height: 1em;
    color: $numixlightgray;
    > a {
      color: $numixlightgray;
      text-decoration: none;
    }
}

.home-button, .home-button-icon {
    float: left;
}
.page-button, .page-button-icon {
    float: right;
    padding-left: 1em;
}

@media screen and (max-width: 600px) {
    .home-button-icon,.fa.page-button-icon {
      display: block;
    }
    .home-button,.page-button {
      display: none;
    }
}
@media screen and (min-width: 600px) {
    .fa.home-button-icon,.fa.page-button-icon {
      display: none;
    }
    .home-button,.page-button {
      display: block;
    }
}
